{% extends "layouts/base.html" %}

{% set projectItems = collections.projects %}

{% block content %}
<div class="grid">
   <article class="card | heading body-text center-vert">
      <div class="flow">
         {{ content | safe }}
      </div>

   </article>

   {% include "partials/projects.html" %}

   <article class="card | flow heading body-text center-text | bg-primary">
      <section>
         <h2>Contact</h2>
         <p>
            You can reach me at
         </p>
         <p>
            <a href="mailto: contact@ebauer.dev" class="cta"> contact@ebauer.dev </a>
         </p>
         <div class="gap-top-500 center-text">
            <a href="https://github.com/eribau" target="_blank" rel="noopener noreferrer" class="icon">
               <svg class=" text-700">
                  <use href="/images/icons/icons.svg#github-logo"></use>
               </svg>
            </a>
         </div>
      </section>
      <section class="colophon">
         <p>Site made by Erik Bauer</p>
      </section>
   </article>
</div>
{% endblock %}