.card {
   position: relative;
   height: 50vh;
   padding: get-size('600') get-size('600');

   > img {
      margin-left: auto;
      margin-right: auto;
      height: 50%;
   }

   &__project {
      vertical-align: middle;
      
      a {
         position: absolute;
         bottom: get-size("400");
         right: get-size("500");
      }
   }
}