{% if projectItems %}
{% for item in projectItems %}
<article class="card card__project | flow center-text heading body-text | bg-{{ colors.items[loop.index] }}">
   <img src="{{ item.data.image }}" alt="{{ item.data.alt }}" class="" />
   <section class="">
      <h2 class="">{{ item.data.name }}</h2>
      <p class="">{{ item.data.explanation }}</p>
   </section>
   <a href="{{ item.data.link }}" target="_blank" rel="noopener noreferrer" class="link">Go to</a>
</article>
{% endfor %}
{% endif %}